@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
}

.fundo-claro{
  background-color: #E3E6F4;
}

#atendimentos i {
  color: #4c62a4;
  font-size: 4rem;
}

.link {
  text-decoration: none;
}

#psicoterapia p span {
  font-weight: 600;
}

#psicoterapia i {
  color: #89CE89;
}

#contato p {
  font-weight: 600;
}

.fundo-escuro {
  background-color: #3B4989;
}